* {
	transition:0.3s;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

	background: #e3e3e3;
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
}

/* Header */
header {
	padding: 20px;
	font-size: 40px;
	color: black;
}


/* Subheader */
.turnExplanation{
	margin: 20px;
	font-size: 25px;
}
#goal{
	color: #3b93ff;
	margin: 20px;
	font-size: 25px;
}
#controls{
	font-size: 17px;
	color: #363636;

}


/* Center Area */
.middle {
	color: black;
	position: relative;
}

#gameBoard {
	border-radius: 10px;
	border: 5px solid black;
}


/* Information */
.button {
	position: fixed;
	font-size: 30px;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	padding: 2px 2px;
	margin: 2px;
	border: 5px solid black;
	transition: 0.3s;
}

.button:hover {
	background: #8a8a8a;
}

#analytics {
	left: calc(50% - 200px);
	top: calc(50% + 300px);
}

#information {
	right: calc(50% - 200px);
	top: calc(50% + 300px);
}

#player {
	right: calc(50% - 35px);
	top: calc(50% + 300px);
	background-image: url(assets/computer.png);
	background-size: cover;

}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	width: 100%;
}

#frontLayer {
	margin: auto;
	position: fixed;
	top: 15%;
	left: 0px;
	background: #e3e3e3;
	height: 70%;
	width: 100%;
	opacity: 1;
	border-radius: 30px;
}

.infoHeader {
	padding: 20px;
	font-size: 40px;

}

.infoPara {
	padding: 20px;
	font-size: 20px;
}